html,body,p{
  margin:0;
}

body{
  background: rgb(243,243,247)
}

.video{
  margin:5px;
}

.user-area{
  width: 100%;
  position: relative;
  margin: 5px auto;
}

.desc{
  padding:10px;
  text-align: right;
  font-size: 14px;
}

.user-area-border{
  border:2px solid #eeeeee;
  border-radius: 5px;
  margin: 10px;
}

.user-icon{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top:10px;
}

.user-area .text1{
  position: absolute;
  top: 15px;
  left: 90px;
  font-size: 18px;
}

.user-area .text2{
  position: absolute;
  left: 90px;
  bottom: 6px;
  font-size: 14px;
}

.icon-gender{
  background-size: 100%;
  width: 16px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.name{
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.poster img{
  width: 100%;
}

.icon-gender-1{
  background-image: url("../images/nv.png");
}

.icon-gender-0{
  background-image: url("../images/nan.png");
}

.down-area{
  width: 320px;
  height: 125px;
  margin: 20px auto;
  position: relative;
  background-image: url("../images/downbg.png");
  background-size: 100%;
}

.icon{
  width: 80px;
  height: 80px;
  bottom: 10px;
  left:10px;
}

.down-area .btn-ios{
  position: absolute;
  display: block;
  width: 95px;
  height: 24px;
  bottom:17px;
  left: 97px;
  background-image: url("../images/ios.jpg");
  background-size: 100%;
}

.down-area .btn-android{
  position: absolute;
  display: block;
  width: 95px;
  height: 24px;
  bottom:17px;
  right: 20px;
  background-image: url("../images/android.jpg");
  background-size: 100%;
}

.down-area .text3{
  font-size: 18px;
  color:rgb(249,63,2);
  position: absolute;
  left: 70px;
  bottom:15px;
}

.ad-area{
  width: 100%;
}

.ad-area img{
  width: 100%;
  margin-top: 10px;
}
